@charset "UTF-8";

.text-gray {
  color: #999
}

html, body {
  font-size: 13px !important;
}

#breaktime {
  width: 48px;
}

input, textarea, select, button {
    font: inherit;
}

.uk-form-label, .uk-form-small {
    font-size: 1.0rem;
}

input[type="time"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="time"]::-webkit-clear-button{
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="number"]::-webkit-clear-button{
  -webkit-appearance: none;
}
