@charset "UTF-8";

.text-gray {
  color: #999
}

form label {
  margin-right: 10px;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
}

dt {
  width: 150px
}

dd {
  margin-left: 10px;
}

#breaktime {
  width: 48px;
}

input, textarea, select, button {
    font: inherit;
}
