@charset "UTF-8";

#content {
  flex-wrap: wrap;
  align-content: start;
}

#tc-wrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -80px;
  z-index: 9;
}
#tc-body {
  vertical-align: top;
  font-size: 0.75rem;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

@media (max-width: 750px) {
  #tc-body {
    min-width: 325px;
    padding-right: 42px;
    padding-left: 42px;
  }
}

#tc-body .tc-item {
  text-align: center;
  border: solid 1px #ddd;
}

#tc-body .tc-item h2 {
  font-size: 0.7rem;
  margin: 0;
  font-weight: normal;
  border-bottom: solid 1px #ddd;
}

#tc-begintime,
#tc-breaktime {
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}
#tc-breaktime {
  width: 48px;
}
#tc-body .tc-item h2,
#tc-body .tc-item div {
  margin: 0;
  padding: 4px;
}

#tc-body #tc-tasknum {
  grid-row: 2;
  grid-column: 1;
  border-right: 0;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
}

#tc-body #tc-totaltime {
  grid-row: 2;
  grid-column: 2;
}

#tc-body #tc-finishtime {
  grid-row: 2;
  grid-column: 3;
  border-left: 0;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
}

#tc-body #tc-settingitems {
  grid-row: 1;
  grid-column: 1/4;
  border: 0;
  margin-bottom: 8px;
}

#tc-body #tc-taskbar {
  grid-row: 3;
  grid-column: 1/4;
  border: 0;
  font-size: 0;
  overflow: inherit;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
}

#tc-body #tc-taskbar .task {
  position: relative;
  box-sizing: border-box;
  height: 10px;
}

#tc-body #tc-taskbar .taskbar {
  opacity: 1;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  height: 10px;
  padding: 0;
  margin: 0;
}

#tc-body #tc-taskbar .task:first-child > .taskbar {
  border-left: 0;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
}

#tc-body #tc-taskbar .task:last-child > .taskbar {
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
}

#tc-body #tc-taskbar > div .taskpopup {
  position: absolute;
  display: none;
  z-index: 1000;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 320px;
  font-size: 0.75rem;
  color: #202020;
  padding: 8px;
  width: max-content;
  background-color: #fff;
  margin: 14px 0 0 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}

#tc-body #tc-taskbar .taskbar:hover {
  opacity: 0.5;
}

#tc-body #tc-taskbar .taskbar:hover + p.taskpopup {
  display: block;
}

#tc-body #tc-cnt,
#tc-body #tc-endtime,
#tc-body #tc-hour {
  font-size: 1rem;
  font-weight: bold;
}

.tc-counted {
  color: #0082c5;
}

#tc-taskbar .taskbar-tasktext {
  font-weight: bold;
}

#tc-taskbar .taskbar-prjname {
  color: #999;
}

#tc-body input,
#tc-body option,
#tc-body textarea,
#tc-body select,
#tc-body button {
  font: inherit;
}

/* 見積時間カレンダー */
#tc-calender {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 800px;
  margin-top: -32px;
  margin-bottom: 40px;
  font-size: 0.75rem;
}

#tc-calender #month-col-wrapper,
#tc-calender #content-col-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

#tc-calender #month-col-wrapper {
  grid-row: 1;
}

#tc-calender #content-col-wrapper {
  grid-row: 2;
}

#tc-calender .month-col {
  padding: 4px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#tc-calender .month-col:first-child {
  border-top-left-radius: 4px;
}

#tc-calender .month-col:last-of-type {
  border-right: 1px solid #ddd;
  border-top-right-radius: 4px;
}

#tc-calender .content-col {
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#tc-calender .accent {
  background-color: #f2dede;
}

#tc-calender .content-col:first-child {
  border-bottom-left-radius: 4px;
}

#tc-calender .content-col:last-child {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 4px;
}

.tc-calender-arrow {
  position: absolute;
  display: inline-block;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  width: 24px;
  height: 24px;
}
.tc-calender-arrow::before,
.tc-calender-arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.kunoji::before {
  left: 6px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.triangle-in-circle::before {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #999;
}
.triangle-in-circle::after {
  left: 10px;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 6px solid transparent;
  border-left: 6px solid #fff;
}
#tc-calender-next,
#tc-calender-prev {
  top: calc(50% - 12px);
  cursor: pointer;
}
#tc-calender-next {
  right: -24px;
}
#tc-calender-prev {
  left: -24px;
  transform: scale(-1, 1);
}
